<p id="notice"><%= notice %></p>

<div class="vertical-center">
  <div class="signInBox">
    <div class="header">
      <h4>Cliente</h4>
    </div>
    <p>
      <strong>Nombre:</strong>
      <%= @client.full_name %>
    </p>

    <p>
      <strong>Nombre del Negocio:</strong>
      <%= @client.business %>
    </p>

    <p>
      <strong>Dirección:</strong>
      <%= @client.address %>
    </p>

    <p>
      <strong>Teléfono:</strong>
      <%= @client.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @client.email %>
    </p>
  </div>
</div>



<%= link_to 'Regresa a Settings', admin_path, class: "btn btn-sm btn-info" %>
<div></div>
<br>

