<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12">
    <h4>Listado de Ventas de día <%= @date.strftime("%m/%d/%Y") %></h4>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <%= form_tag(date_filter_path, remote: true)  do %>
      <div class="form-inline">
        <%= date_field_tag :date, @date, class: "form-control" %>
        &nbsp;<%= submit_tag "Buscar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div
<div class="container">
  <% if @orders.present? %>
    <%= render "orders/index", orders: @orders %>
  <% else %>
    <br>
    <h5>No se han registrado ventas.</h5>
  <% end %>
</div>
<br>
